/*==========================GLOBAL==========================*/

:root {
    --blanco: #ffffff;
    --negro: #000000;
    --oroOscuro: #ff9800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*>li {
    list-style: none;
}
body {
    height: 3000px;
    min-width: 300px;
}
.center {
    text-align: center;
}
h1 {
    font-size: 3.2em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.7em;
    ´
}
p {
    font-size: 1.2em;
}
label {
    font-size: 1.2em;
}
input {
    font-size: 1.3em;
}
/*==========================NAVEGADOR==========================*/

.container1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.navegador {
    background: #000000;
    padding: 20px 40px;
    right: 0;
    display: flex;
    color: white;
    font-size: 16px;
}
.icono--menu {
    color: white;
}
.navegador_envolvente {
    display: flex;
    align-items: anchor-center;
}
.navegador_envolvente_contenedor_icono {
    display: none;
    margin: 0px 1.3rem 0px 0px;
    cursor: pointer;
    font-size: 1.2em;
}
.navegador_envolvente_titulo {
    margin: 0px;
    font-size: 1.5em;
    white-space: nowrap;
}
.navegador_envolvente2 {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-line-clamp: 2;
}
.navegador_envolvente2_lista {
    flex: 1;
    display: flex;
    justify-content: center;
}
.navegador_envolvente2_redes_btn {
    background: none;
    border: none;
    cursor: pointer;
}
.navegador_envolvente2_redes_img {
    width: 32px;
}
.navegador_anclas>* {
    display: inline-block;
}
.navegador_lista {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 2rem;
}
.navegador_envolvente2_lista_elemento {
    margin: 0px 20px 0px 0px;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}
.navegador_envolvente2_lista_elemento .navegador_anclas {
    cursor: pointer;
}
.navegador_anclas:hover {
    color: rgb(210, 210, 210);
}
@media screen and (max-width: 640px) {
    .navegador {
        clip-path: initial;
        width: auto;
        position: relative;
        flex-direction: column;
    }
    .navegador_envolvente2 {
        flex: 1;
        align-items: center;
        display: flex;
        justify-content: center;
        -webkit-line-clamp: 2;
    }
    .navegador_lista {
        flex: 1;
    }
    .navegador_opciones {
        margin: 0px 2px 0px 0px;
        text-align: left;
        font-style: italic;
        font-size: 1em;
    }
    .navegador_oculto {
        display: inline;
        color: white;
        font-size: 20px;
    }
    .caratula_descripcion {
        font-size: 0.8em;
    }
    .swiper {
        font-size: 0.8em;
    }
    .caratula img {
        width: 100%;
    }
    .navegador_nombre {
        display: inline;
    }
    .caratula_descripcion {
        padding: 0;
    }
    .navegador_lista {
        display: block;
        overflow: hidden;
        margin: 0;
        margin: 10px 0px 0px 0px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }
    .deslizante {
        max-height: 200px;
    }
}
/* Moviles */

@media (max-width: 640px) {}
/* Tablets */

@media (min-width: 641px) and (max-width: 1024px) {
    .navegador_redes {
        display: none;
    }
}
/* Escritorios */

@media (min-width: 1025px) {}
/*==========================CARATULA==========================*/

.caratula {
    background-image: url(../img/fondoLavidicto.jpg);
    background-position: 0 -165px;
    background-size: cover;
    display: flex;
    flex: 1 835px;
    margin: 0 0 0 0;
    flex-wrap: wrap;
}
.caratula_especialidad {
    flex: 1;
    font-family: 'Merriweather', serif;
}
.caratula_especialidad {
    justify-content: center;
}
.caratula_descripcion {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    flex: 1 200px;
    padding: 25px;
}
.descripcion {
    background: #ffffff24;
    padding: 20px;
    margin-top: 250px;
    backdrop-filter: blur(10px);
}
.caratula_especialidad:nth-child(2) p {
    line-height: 1.6;
}
.cualidadesUl li {
    color: var(--negro);
    line-height: 1.6;
}
.text-white {
    color: var(--negro);
}
.caratula img {
    flex: 0 auto;
    float: left;
    margin: auto;
}
.caratula_contenedorImg {
    position: relative;
    width: 400px;
    background-image: url(../img/palacio.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-position: center;
}
.caratula_contenedorImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 41%);
    backdrop-filter: blur(1px);
    z-index: 1;
}
/* Imagen en primer plano */

.caratula_contenedorImg img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(75deg, rgba(206, 17, 38, 0.6) 30%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.6) 70%, rgba(206, 17, 38, 0.6) 70%);
    box-shadow: 0px -5px 33px -10px white;
}
.container2 {
    width: 100%;
    height: 500px;
    /*    background: white;*/
}
.divEjemplo {
    text-align: left;
    background: red;
}
/*.imgLAVIDICTO2 {
    shape-outside: url(../img/lavidicto.png);
    float: left;
    width: 150px;
    margin: 20px;
}*/

/*==========================SWIPPER==========================*/

.swiper {
    padding-bottom: 35px !important;
}
.container_deslizadorLavidicto {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_container {
    padding-block: 5rem;
}
.card_content {
    margin-inline: 2.75rem;
    /*    border-radius: 1.25rem;*/
    overflow: hidden;
    /*    background: gray;*/
}
.card_article {
    width: 300px;
    /*    border-radius: 1.25rem;*/
    overflow: hidden;
}
.containerCards article .card_image img {
    width: 200px;
    height: 200px;
}
.card_image {
    position: relative;
    background: #d1dcd6;
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    height: 294px;
}
.card_data {
    background: #ede4e4;
    padding: 1.5rem 2em;
    /* border-radius: 1rem; */
    text-align: center;
    position: relative;
    z-index: 10;
}
.card_img {
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 5;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.card_shadow {
    width: 200px;
    height: 200px;
    /*    background: #bad2ff;*/
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}
.card_description {
    font-weight: 500;
    font-family: 'Merriweather', serif;
    margin-bottom: 1.75rem;
}
.card_names {
    font-size: 16px;
    color: white;
}
.card_button {
    display: inline-block;
    background-color: #000000;
    padding: .75rem 1.5rem;
    /* border-radius: .25rem; */
    color: #ffffff;
    font-family: 'Merriweather', serif;
    border: none;
    font-weight: 600;
}
.card_name {
    font-size: 16px;
    color: white;
    margin-bottom: .75rem;
}
.card_description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}
.swiper-button-prev:after, .swiper-button-next:after {
    content: "" !important;
}
.swiper-button-prev, .swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: black;
}
.swiper-pagination-bullet {
    background: black;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: green;
}
.show {
    display: block !important;
}
.swiper-button-prev, .swiper-button-next {
    color: black !important;
}
.swiper-pagination-bullet-active {
    background: black !important;
}
/*==========================FORMULARIO==========================*/

.containerForm {
    padding: 20px;
    font-family: 'Merriweather', serif;
}
.containerForm label {
    padding: 0 10px;
    display: flex;
    align-items: center;
    background: #ede4e4;
}
.fila {
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 0;
}
input.formInput {
    flex: 1 120px;
    padding: 5px 5px;
    border: 1px solid #ede4e4;
}
.columna {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    /* padding: 10px; */
    /* margin: 0 0 0 -17px; */
    margin: 0 10px;
}
.ContformArea {
    display: flex;
}
textarea.formArea {
    display: block;
    /* width: 100%; */
    min-height: 200px;
    margin: 5px 10px;
    flex: 1;
    font-family: 'Merriweather';
    font-size: 1.2em;
    padding: 5px;
}
body {
    font-family: tahoma;
}
/*==========================LINEA DE TIEMPO==========================*/

.main-timeline {
    font-family: tahoma;
    padding: 20px 0;
    position: relative;
}
.main-timeline::before, .main-timeline::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    border-radius: 50%;
    border: 10px solid #303334;
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 2;
}
.main-timeline::after {
    top: auto;
    bottom: -15px;
}
.main-timeline .timeline {
    padding: 35px 0;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline::before, .main-timeline .timeline::after {
    content: "";
    height: 100%;
    width: 50%;
    border-radius: 110px 0 0 110px;
    border: 15px solid #46b2bc;
    border-right: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.main-timeline .timeline::after {
    height: calc(100% - 30px);
    width: calc(50% - 12px);
    border-color: #65c7d0;
    left: 12px;
    top: 15px;
}
.main-timeline .timeline-content {
    display: inline-block;
    width: 100%;
}
.main-timeline .timeline-content:hover {
    text-decoration: none;
}
.main-timeline .timeline-year {
    color: #65c7d0;
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
    transform: translatey(-50%);
    position: absolute;
    top: 50%;
    left: 10%;
}
.main-timeline .timeline-icon {
    color: #65c7d0;
    font-size: 70px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 34%;
    top: 50%;
}
.main-timeline .content {
    color: #909090;
    width: 50%;
    padding: 20px 100px;
    display: inline-block;
    float: right;
}
.main-timeline .title {
    color: #65c7d0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.main-timeline .description {
    font-size: 16px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even)::before {
    left: auto;
    right: 0;
    border-radius: 0 110px 110px 0;
    border: 15px solid red;
    border-left: none;
}
.main-timeline .timeline:nth-child(even)::after {
    left: auto;
    right: 12px;
    border-radius: 0 100px 100px 0;
    border: 15px solid green;
    border-left: none;
}
.main-timeline .timeline:nth-child(even) .content {
    float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
    left: auto;
    right: 10%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 32%;
}
.main-timeline .timeline:nth-child(5n+1)::before {
    border-color: #46b2bc;
}
.main-timeline .timeline:nth-child(5n+1)::after {
    border-color: #65c7d0;
}
.main-timeline .timeline:nth-child(5n+1) .timeline-icon {
    color: #65c7d0;
}
.main-timeline .timeline:nth-child(5n+1) .timeline-year {
    color: #65c7d0;
}
.main-timeline .timeline:nth-child(5n+1) .title {
    color: #65c7d0;
}
.main-timeline .timeline:nth-child(5n+2)::before {
    border-color: #ea3c14;
}
.main-timeline .timeline:nth-child(5n+2)::after {
    border-color: #EF5720;
}
.main-timeline .timeline:nth-child(5n+2) .timeline-icon {
    color: #EA3C14;
}
.main-timeline .timeline:nth-child(5n+2) .timeline-year {
    color: #EA3C14;
}
.main-timeline .timeline:nth-child(5n+2) .title {
    color: #EA3C14;
}
.main-timeline .timeline:nth-child(5n+3)::before {
    border-color: #8CC63E;
}
.main-timeline .timeline:nth-child(5n+3)::after {
    border-color: #6CAF29;
}
.main-timeline .timeline:nth-child(5n+3) .timeline-icon {
    color: #8CC63E;
}
.main-timeline .timeline:nth-child(5n+3) .timeline-year {
    color: #8CC63E;
}
.main-timeline .timeline:nth-child(5n+3) .title {
    color: #8CC63E;
}
.main-timeline .timeline:nth-child(5n+4)::before {
    border-color: #F99324;
}
.main-timeline .timeline:nth-child(5n+4)::after {
    border-color: #FBB03B;
}
.main-timeline .timeline:nth-child(5n+4) .timeline-icon {
    color: #F99324;
}
.main-timeline .timeline:nth-child(5n+4) .timeline-year {
    color: #F99324;
}
.main-timeline .timeline:nth-child(5n+4) .title {
    color: #F99324;
}
.main-timeline .timeline:nth-child(5n+5)::before {
    border-color: #0071BD;
}
.main-timeline .timeline:nth-child(5n+5)::after {
    border-color: #0050A3;
}
.main-timeline .timeline:nth-child(5n+5) .timeline-icon {
    color: #0071BD;
}
.main-timeline .timeline:nth-child(5n+5) .timeline-year {
    color: #0071BD;
}
.main-timeline .timeline:nth-child(5n+5) .title {
    color: #0071BD;
}
@media screen and (max-width:1200px) {
    .main-timeline .timeline:after {
        border-radius: 88px 0 0 88px;
    }
    .main-timeline .timeline:nth-child(even):after {
        border-radius: 0 88px 88px 0;
    }
}
@media screen and (max-width:767px) {
    .main-timeline .timeline {
        margin-top: -19px;
    }
    .main-timeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .main-timeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width: 10px;
        top: 9px;
        left: 9px;
    }
    .main-timeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .main-timeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .main-timeline .timeline-icon {
        font-size: 60px;
    }
    .main-timeline .timeline-year {
        font-size: 40px;
    }
}
@media screen and (max-width:479px) {
    .main-timeline .timeline-icon {
        font-size: 50px;
        transform: translateY(0);
        top: 25%;
        left: 10%;
    }
    .main-timeline .timeline-year {
        font-size: 25px;
        transform: translateY(0);
        top: 65%;
        left: 9%;
    }
    .main-timeline .content {
        width: 68%;
        padding: 10px;
    }
    .main-timeline .title {
        font-size: 18px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        right: 10%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year {
        right: 9%;
    }
}
/**/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/*_______________________DISEÑO MOVIL_______________________*/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/*PANTALLAS CHICAS*/

/*Pantallas menos de 750 pixeles*/

@media screen and(min-width:750px) {
    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
    .card_content {
        margin-inline: 3em;
    }
}
/*Pantallas menos de 1120 pixeles*/

@media screen and(min-width:1120px) {
    .card_content {
        max-width: 1120px;
    }
    .swiper-button-next {
        right: -1em;
    }
    .swiper-button-next {
        left: -1em;
    }
}